@charset "utf-8";
/* Css Document */

/* Selectores de: etiquetas, id, clase, son los selectores principales */

#cabeceraweb{
		background-color:#00FF;
	
}

#navegadorprincipal{
	background-color: yellow;
}
#barralateral{
	background-color: #1A9FF4;
	float:left;
	height:957px;
}

#contenidoprincipal{
	background-color:purple;
	margin-left:210px;
	padding-left: 20px;
	padding-top: 20px;
}
#pieprincipal{
	background-color:green;
	margin-top: -10px;
}

li{
	background-color:gray;
	display:inline;
}