@charset "utf-8";
/* Css Document */

/* Selectores de: etiquetas, id, clase, son los selectores principales */

#cabeceraweb{
		background-color:#00FF;
	
}

#navegadorprincipal{
	background-color: yellow;
}
#barralateral{
	background-color: red;
}

#contenidoprincipal{
	background-color:purple;
}
#pieprincipal{
	background-color:green;
}